{% load static %}
<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">

    <title>Cloud</title>

    <!-- Additional CSS Files -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/bootstrap.min.css'%}">

    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/font-awesome.css'%}">

    <link rel="stylesheet" href="{% static 'assets/css/templatemo-breezed.css'%}">

    <link rel="stylesheet" href="{% static 'assets/css/owl-carousel.css'%}">

    <link rel="stylesheet" href="{%static 'assets/css/lightbox.css'%}">
    <link rel="stylesheet" href="{%static 'assets/css/costum.css'%}">

    </head>

    <body>

    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    <!-- ***** Preloader End ***** -->


    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="" class="logo">
                            .YcLOUD
                        </a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                     <li class="scroll-to-section"><a href="{% url 'login'%}">Sign In</a></li>

                            <li class="scroll-to-section"><a href="{% url 'signup' %}">Sign Up</a></li>

                        </ul>
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>

    <!-- ***** Main Banner Area Start ***** -->
    <div class="main-banner header-text" id="top">
        <div class="Modern-Slider">

          <div class="item">
            <div class="img-fill">
                <img src="{% static 'assets/images/slide-02.jpg'%}" alt="">
                <div class="text-content">
                {% if messages %}
<ul class="messages mt-2 mb-5 index text-danger bg-warning" >
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
        {{ message }}
    </li>
    {% endfor %}
</ul>
{% endif %}
 <div class="col-lg-12 col-md-12 col-xs-12">
                    <div class="contact-form">
                        <form id="" action="" method="post">
                                                  {% csrf_token %}
                          <div class="row">
                            <div class="col-md-6 col-sm-12">
                                <input name="mail" type="email" id="name" placeholder="Your Name E-mail" required="">
                            </div>
                            <div class="col-md-6 col-sm-12">
                                <input name="password" type="password" id="password" placeholder="Your Password" required="">
                            </div>



                            <div class="col-lg-12">
                              <fieldset>
                                <button type="submit" id="form-submit" class="main-button-icon">Sign In<i class="fa fa-arrow-right"></i></button>
                              </fieldset>
                            </div>
                          </div>
                        </form>

                </div>
                </div>
            </div>
          </div>
        </div>
    </div>



    <!-- jQuery -->
    <script src="{% static 'assets/js/jquery-2.1.0.min.js'%}"></script>

    <!-- Bootstrap -->
    <script src="{% static 'assets/js/popper.js'%}"></script>
    <script src="{% static 'assets/js/bootstrap.min.js'%}"></script>

    <!-- Plugins -->
    <script src="{% static 'assets/js/owl-carousel.js'%}"></script>
    <script src="{% static 'assets/js/scrollreveal.min.js'%}"></script>
    <script src="{% static 'assets/js/waypoints.min.js'%}"></script>
    <script src="{% static 'assets/js/jquery.counterup.min.js'%}"></script>
    <script src="{% static 'assets/js/imgfix.min.js'%}"></script>
    <script src="{% static 'assets/js/slick.js'%}"></script>
    <script src="{% static 'assets/js/lightbox.js'%}"></script>
    <script src="{% static 'assets/js/isotope.js'%}"></script>

    <!-- Global Init -->
    <script src="{% static 'assets/js/custom.js'%}"></script>

    <script>

        $(function() {
            var selectedClass = "";
            $("p").click(function(){
            selectedClass = $(this).attr("data-rel");
            $("#portfolio").fadeTo(50, 0.1);
                $("#portfolio div").not("."+selectedClass).fadeOut();
            setTimeout(function() {
              $("."+selectedClass).fadeIn();
              $("#portfolio").fadeTo(50, 1);
            }, 500);

            });
        });

    </script>

  </body>
</html>